*.dart linguist-detectable=true  
*.h linguist-language=C++
*.cpp linguist-language=C++ 
*.c linguist-detectable=false
*.csharp linguist-detectable=false  
*.java linguist-detectable=false  
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.xml linguist-detectable=false
*.t linguist-detectable=false
